# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# misc
.DS_Store
*.pem

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel
.vercel_static/

# local verification artifacts
evidence/

__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
